<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <title>Trang chủ</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/lib/bootstrap/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/lib/font-awesome/css/font-awesome.min.css}">
  <link th:href="@{https://fonts.googleapis.com/css?family=Quicksand}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>

<div class="d-flex justify-content-between">
  <!-- SIDE BAR -->

  <div id="admin-wrapper">
    <!-- HEADER -->
    <div th:replace="/fragments/navbar"></div>

    <!-- CONTENT -->
    <!-- PHAN THAY DOI THEO TUNG TRANG -->
    <section id="admin-content" class="p-3" layout:fragment="noidung">

    </section>
    <footer class="py-4 mt-4 text-center border-top">
      <span>Copyright © 2019 Cybersoft, Inc.</span>
    </footer>
  </div>
</div>
<script th:src="@{/lib/jquery/jquery.slim.min.js}"></script>
<script th:src="@{/lib/popper.js/popper.min.js}"></script>
<script th:src="@{/lib/bootstrap/bootstrap.min.js}"></script>
</body>

</html>