<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <title>Trang chủ</title>
  <!-- Required meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link th:rel="stylesheet" th:href="@{/lib/bootstrap/bootstrap.min.css}">
  <link th:rel="stylesheet" th:href="@{/lib/font-awesome/css/font-awesome.min.css}">
  <link th:href="@{https://fonts.googleapis.com/css?family=Quicksand}" th:rel="stylesheet">
  <link th:rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div th:replace="/fragments/navbar"></div>
    <br layout:fragment="noidung" />

    <footer class="py-4 mt-4 text-center border-top">
      <span>Copyright © 2019 Cybersoft, Inc.</span>
    </footer>
    <script th:src="@{/lib/jquery/jquery.slim.min.js}"></script>
    <script th:src="@{/lib/popper.js/popper.min.js}"></script>
    <script th:src="@{/lib/bootstrap/bootstrap.min.js}"></script>
</body>

</html>